<div class="onoffswitch" {{bind-attr title=title}}>
    {{input type="checkbox" checked=checked id=checkbox_id name=checkbox_id class="onoffswitch-checkbox"}}
    <label class="onoffswitch-label" {{bind-attr for="checkbox_id" }}>
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
